@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

html,
body {
  --wcm-accent-color:  "[theme:themePrimary]";
  --wcm-background-color:  "[theme:themePrimary]";
  --aktionariat-widgets-color-highlight: "[theme:themePrimary]";
}

.aktionariatBrokerbotWidget {
    --brokerbot-color-primary: "[theme:themePrimary]";
}
